@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
}

header h1 {
    padding: 30px;
    font-size: 2em;
}

header h1 span#cor {
    color: red;
}
